@import 'vars';

body {
  background-image: url("../resources/images/pattern11.png");
}

ul {
  list-style: none;
}

.movie-paper, .movie-link, .movie-detail, .movie-metadata{
  display: flex;
}
.movie-list{
  background-color: #F6F4F5;
}

.movie-paper {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.movie-search{
  margin: 0 auto;
}


.movie-link img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.movie-link span {
  margin-left: 5px;
}

.movie-list ul li {
  margin: 20px;
}

.movie-metadata {
  margin: 20px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}